@use "../_import" as *;

// ----------------------------------------
//  flow
// ----------------------------------------
.-section-features__inner {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.-block-features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  gap: 48px 0;
  .-block-features-item {
    max-width: 33.33%;
    width: 100%;
    padding: 0 16px;
    @media screen and (max-width: 920px) {
      max-width: 50%;
    }
    @include mq(sm) {
      max-width: 100%;
    }
    .-features-image {
      background: var(--color-light-gray-light);
      border-radius: var(--border-radius-middle);
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      @include mq(sm) {
      }
      img {
        object-fit: cover;
        height: 100%;
      }
      &.image-full {
        img {
          width: 100%;
          height: 100%;
        }
      }
      &.image-icon {
        height: 80px;
        background: none;
        @include mq(sm) {
          height: 56px;
        }
        img {
          width: 48px;
          height: 48px;
          @include mq(sm) {
            width: 40px;
            height: 40px;
          }
        }
        +.-features-body {
          h3 {
            text-align: center;
          }
        }
      }
    }
    .-features-body {
      text-align: justify;
      margin: 24px 0 0 0;
      .-title {
        font-size: var(--fs-x-default);
        line-height: 1.7;
        padding: 0;
        margin: 0 !important;
        background: none;
        border: none;
        padding-left: 0 !important;
        border-left: none !important;
      }
      .-info-inner {
        margin: 8px 0 0 0 !important;
        .-description {
          color: var(--color-gray);
          font-size: var(--fs-default);
        }
        .-btn-row {
          margin-top: 16px;
          .-btn {
            width: 100%;
          }
        }
      }
    }
  }
  &.text-image {
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    gap: 72px 0;
    @include mq(sm) {
      gap: 56px 0;
    }
    .-block-features-item {
      display: flex;
      align-items: center;
      max-width: 100%;
      gap: 0 40px;
      @include mq(sm) {
        flex-direction: column;
        gap: 16px 0;
        padding: 0;
      }
      &:nth-child(even) {
        .-features-image {
          order: 2;
          @include mq(sm) {
            order: 1;
          }
        }
        .-features-body {
          order: 1;
          @include mq(sm) {
            order: 2;
          }
        }
      }
      .-features-image {
        max-width: 400px;
        width: 100%;
        height: 240px;
        @include mq(sm) {
          max-width: 100%;
          height: 180px;
        }
      }
      .-features-body {
        margin: 0;
        width: 100%;
        .-title {
          font-size: var(--fs-x-middle);
          line-height: 1.5;
          margin: 0 !important;
          background: none;
          padding: 0;
          padding-left: 0 !important;
          border-left: none !important;
        }
        .-info-inner {
          .-description {}
          .-btn-row {
            justify-content: start;
            .-btn {
              width: auto;
            }
          }
        }
      }
    }
  }
  &.row3 {
    .-block-features-item {
      @include mq(sm) {
        max-width: 100%;
      }
    }
  }
  &.row4 {
    .-block-features-item {
      max-width: 25%;
      @include mq(sm) {
        max-width: 100%;
      }
    }
  }
  &.row5 {
    .-block-features-item {
      max-width: 20%;
      @include mq(sm) {
        max-width: 100%;
      }
    }
  }
}

// 管理画面用
#editor {
  .-block-features-list {
    &.text-image {
      .-block-features-item {
        width: 100%;
      }
    }
    &.row3 {
      .-block-features-item {
        max-width: 30%;
        .-features-body {
          .-title {
            margin-top: 32px !important;
          }
        }
      }
    }
  }
}