@charset "utf-8";
/* CSS Document */
/*共通部分*/
html {
    overflow-y:scroll;
}

body {
	font-family: Hiragino Kaku Gothic Pro,Osaka,"メイリオ","ＭＳ Ｐゴシック",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.6;
	color: #333333;
	background: #FFF;
}

body, div, span, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, form, input, textarea,
p, table, tbody, th, td, pre {
    margin: 0;
    padding: 0;
}

table, tbody, th, td {
    border-spacing: 0;
    border-collapse: collapse;
}

h1, h2, h3, h4 {
    font-size: 100%;
}

img, abbr, acronym, fieldset {
    border: 0;
}

img {
	display: block;
}

em, var {
    font-style: normal;
}

li {
    list-style-type: none;
}

a {
	text-decoration: underline;
}

a:link {
    color: #0066CC;
}

a:visited{
    color: #0066CC;
}

a:hover{
    color: #202689;
}

a:active{
    color: #202689;
}

input,select {
    -webkit-appearance: none;
    appearance: none;
}

select {
    color: #333;
}

/*button*/
a.btn,
input.btn {
	display: block;
	-webkit-appearance: none;
	margin: 0 auto;
	width: 60vw;
	padding: 4vw 0;
	font-family: Hiragino Kaku Gothic Pro,Osaka,"メイリオ","ＭＳ Ｐゴシック",Arial,Helvetica,sans-serif;
	font-size: 5vw;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	text-shadow: -1px -1px 0 #002564;
	text-align: center;
	background: #023894;
	border-radius: 999px;  
	box-shadow: 0 2px #002564;
	border-style: none;
	cursor: pointer;
}

a.btn.back,
input.btn.back {
	width: 30vw;
	margin-right: 3vw;
	color: #333;
	background: #DFDFDF;
	box-shadow: 0 2px #B6B6B6;
	text-shadow: -1px -1px 0 #FFF;
}

a.btn:hover,
input.btn:hover {
	position: relative;
	top: 2px;
	box-shadow: none;
}


/*body*/
body{  
    margin: 0;  
}

/*header*/
#header {
	background: #FFF;
	border-bottom: 1px solid #CCC;
	z-index: 10000;
}

#confirm #header,
#thanks #header {
	margin-bottom: 4vw;
}

#header #topbar {
	display: flex;
	justify-content: space-between;
	padding: 4vw;
}

#header #topbar .logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#header #topbar .logo img {
	display: block;
	width: 25vw;
	height: auto;
}
#header #topbar .logo h1 {
	margin-left: 3.5vw;
	color: #333;
	font-size: 3.2vw;
	font-weight: bold;
	line-height: 1.2;
}
#header #topbar .step {
	display: flex;
	align-items: center;
}
#header #topbar .step ol {
	width: 35vw;
	padding: 0 2vw;
	text-align: center;
	background: #F9F9F9;
	border: 1px solid #DDD;
	border-radius: 999px; 
}
#header #topbar .step ol li {
	display: inline;
	margin-right: 1vw;
	color: #999;
	font-size: 3.5vw;
}
#header #topbar .step ol li:last-child {
	margin-right: 0;
}
#header #topbar .step ol li.current {
	font-weight: bold;
	color: #F34C1E;
}
#header #topbar .step ol li span {
	margin-left: 6px;
	font-weight: normal;
	color: #BABABA;
}
/*contents*/
#contents .inner {
    margin: 0 -16px;
}
#contents .mainimage {
	margin-bottom: 4vw;
	background: #f1f4f9;
}
#contents .mainimage img {
	display: block;
	width: 100%;
	height: auto;
}
#contents table.common {
}

#contents table.common,
#contents table.common tbody,
#contents table.common thead,
#contents table.common tr,
#contents table.common th,
#contents table.common td {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
#contents table.common th,
#contents table.common td {
	padding: 4vw;
	font-size: 4.5vw;
	border-bottom: 1px solid #CCC;
    text-align: left;
}

#contents table.common th {
	text-align: left;
	background: #f2f2f2;
}

#contents table.common th span.nece,
#contents .questionBox span.nece {
	float: right;
	padding: 1vw;
	background: #FF4700;
	color: #FFF;
	font-size: 3.2vw;
	border-radius: 3px;  
}
#contents table.common th span.any,
#contents .questionBox span.any {
	float: right;
	padding: 1vw;
	background: #999;
	color: #FFF;
	font-size: 3.5vw;
	border-radius: 3px;  
}

#contents p.error {
	clear: both;
	padding-top: 4vw;
	font-size: 3.5vw;
	color: #FF1700;
	font-weight: bold;
}

#contents table.customer td input,
#contents table.customer td select,
#contents table.customer td textarea {
	padding: 3px;
	font-size: 5vw;
}

#contents table.customer td input,
#contents table.customer td select {
	background: #FFF;
}

#contents table.customer td input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

#contents table.customer td input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
}

#contents table.customer td input::-moz-placeholder {
    color: #999;
    font-weight: normal;
}

#contents table.customer tr.name td .part_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#contents table.customer tr.name td .part {
	width: calc(50% - 2vw);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#contents table.customer tr.name td .part span {
	display: block;
	margin-right: 1vw;
	line-height: 1;
}
label.select {
  position: relative;
}
label.select:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 6px solid #5e5e5e;
  position: absolute;
  top: 50%;
  right: 5%;
  pointer-events: none;
}
label.select select {
  height: 14vw;
  box-sizing: border-box;
  border: solid 1px #CCC;
  position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
	    padding: 3px;
    font-size: 4.5vw;
    color: #333;
}

#contents table.customer td input[name="last_name"],
#contents table.customer td input[name="first_name"],
#contents table.customer td input[name="last_name_kana"],
#contents table.customer td input[name="first_name_kana"]{
	width: 33vw;
}

label.select select[name="birth_year"],
label.select select[name="birth_month"],
label.select select[name="birth_day"],
label.select select[name="birthbaby_year"],
label.select select[name="birthbaby_month"],
label.select select[name="birthbaby_day"] {
	width: 18vw;
}

label.select select[name="pref"] {
	width: 60vw;
}

label.select select[name="income"],
label.select select[name="job"] {
	width: 80vw;
}

#contents input[name="city"],
#contents input[name="town"],
#contents input[name="mail"],
#contents input[name="tel"],
#contents input[name="purpose_other"],
#contents table.customer textarea[name="cust_remarks"] {
	width: 100%;
	box-sizing: border-box;
}

label.select select[name="reservedate"] {
	width: 50vw;
}
label.select select[name="reservetime"] {
	width: 33vw;
}
label.select select[name="contacttime"] {
	width: 25vw;
}
#contents input[type="radio"],
#contents input[type="checkbox"]{
    display: none;
    width: 0;
    height: 0;
}
#contents label.radio, #contents label.checkbox {
  line-height: 30px;
  padding-left: 28px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
    font-size: 5vw;
}
#contents input[type="radio"]:checked + .radio:before {
  opacity: 1;
}
#contents .radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #0054A7;
  content: '';
  opacity: 0;
}
#contents .radio:after, #contents .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
}
#contents .cb-parts {
  padding-left: 9vw;
  position: relative;
    font-size: 5vw;
}
#contents .cb-parts::before {
  content: "";
  display: block;
  width: 5vw;
  height: 5vw;
  border: solid 1px #b1b1b1;
  position: absolute;
  top: 0;
  left: 0;
}
#contents .cb-input:checked + .cb-parts {}
#contents .cb-input:checked + .cb-parts::after {
  content: "";
  display: block;
  width: 1.5vw;
  height: 3vw;
  transform: rotate(40deg);
  border-bottom: solid 3px #0054A7;
  border-right: solid 3px #0054A7;
  position: absolute;
  top: 0.25vw;
  left: 2vw;
}



#contents table.customer td.addtit {
	padding: 2vw 4vw;
	border-right: 1px dotted #CCC;
	background: #f9f9f9;
}

#contents table.customer td p.explain {
	margin-top: 3vw;
	font-size: 3.5vw;
	color: #666;
}

#contents table.customer input[name="last_name"],
#contents table.customer input[name="first_name"],
#contents table.customer input[name="last_kana"],
#contents table.customer input[name="first_kana"],
#contents table.customer input[name="address2"],
#contents table.customer input[name="address3"],
#contents table.customer textarea[name="cust_remarks"] {
	ime-mode: active;
}

#contents table.customer input[name="zipcode"],
#contents table.customer input[name="tel"],
#contents table.customer input[name="mail"] {
	ime-mode: disabled;
}

#contents table.customer input[name="last_name"],
#contents table.customer input[name="first_name"],
#contents table.customer input[name="last_name_kana"],
#contents table.customer input[name="first_name_kana"],
#contents table.customer input[name="zipcode"],
#contents table.customer input[name="tel"],
#contents table.customer input[name="mail"],
#contents table.customer input[name="city"],
#contents table.customer input[name="town"],
#contents table.customer input[name="income"],
#contents table.customer input[name="purpose_other"],
#contents table.customer textarea[name="cust_remarks"] {
	box-shadow: 0 4px 0 rgb(0 0 0 / 5%) inset;
	padding: 4vw 2vw;
	border: 1px solid #CCC;
	border-radius: 5px;
}

#contents table.customer tr.ppcheck p.link {
	margin-bottom: 4vw;
}

#contents table.customer.confirm td {
	font-size: 16px;
}
#contents ul.question_consul li {
	margin-bottom: 4vw;
	padding-bottom: 4vw;
	border-bottom: 1px dotted #CCC;
}
#contents ul.question_consul li:last-child {
	margin-bottom: 4vw;
	padding-bottom: 0;
	border-bottom: none;
}
#contents ul.purpose_list li {
	width: calc(100% / 3);
}


#contents label {
	cursor: pointer;
}

#contents .questionBox {
	margin: 0 4vw 4vw;
}
#contents .questionBox .question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4vw;
	font-size: 4.5vw;
	background: #f2f2f2;
	border: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
}
#contents .questionBox .question h2 {
	display: inline;
	position: relative;
    padding-left: 14vw;
}
#contents .questionBox .question h2::before {
    position: absolute;
    top: calc(50% - 5vw);
    left: 0;
    content: "Q";
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 4.5vw;
    font-weight: bold;
    color: #3068AD;
    line-height: 10vw;
    border-radius: 50%;
    border: 1px solid #3068AD;
    box-sizing: border-box;
}

#contents .questionBox .question span.nece,
#contents .questionBox .question span.any {
	margin-left: 3vw;
	text-align: center;
	white-space: nowrap;
}
#contents .questionBox .answer {
	padding: 6vw 4vw;
	font-size: 4.5vw;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-radius: 0 0 5px 5px;
}
#contents .questionBox .answer p.txt {
	font-size: 4.5vw;
}

#contents .questionBox.consul .answer {
	padding: 6vw 4vw;
}
#contents .questionBox.consul .answer ul li,
#contents .questionBox.education .answer ul li {
	margin-bottom: 6vw;
	padding-bottom: 6vw;
	border-bottom: 1px dotted #CCC;
	line-height: 1.2;
	font-size: 4.5vw;
}
#contents .questionBox.consul .answer ul li span {
	display: block;
}
#contents .questionBox.consul .answer ul li:last-child,
#contents .questionBox.education .answer ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
#contents .questionBox.schedule .answer .answerPart {
	margin-bottom: 4vw;
	padding-bottom: 4vw;
	border-bottom: 1px dotted #CCC;
}
#contents .questionBox.schedule .answer .answerPart:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
#contents .questionBox.schedule .answer .answerPart p.explain {
	margin-top: 2vw;
	font-size: 4.5vw;
}
#contents .questionBox.schedule .answer .answerPart p.attention {
	font-size: 4.5vw;
	text-indent: -1em;
	padding-left: 1em;
}
#contents .questionBox.schedule .answer .answerPart1 dl,
#contents .questionBox.schedule .answer .answerPart2 dl {
	margin-top: 2vw;
}
#contents .questionBox.schedule .answer .answerPart1 dl dt,
#contents .questionBox.schedule .answer .answerPart2 dl dt {
	margin-bottom: 2vw;
	font-size: 4vw;
}


#contents .agreeBox {
	margin: 4vw 4vw 6vw;
	padding: 4vw;
	text-align: center;
	font-size: 4.5vw;
	font-weight: bold;
	border: 1px solid #CCC;
}

#contents .agreeBox p.lead {
	margin-bottom: 4vw;
	font-size: 4vw;
	font-weight: normal;
	text-align: left;
}

#contents .agreeBox p.error {
	text-align: left;
}

#contents p.message {
	margin-bottom: 4vw;
	padding: 0 4vw;
	color: #666;
	font-size: 4.5vw;
	font-weight: bold;
}

#contents p.message.error {
	margin: 4vw;
	padding: 4vw;
	color: #FF0000;
	background: #FFDFDF;
}

#contents p.message a {
	color: #666;
}

#contents.thanks p.message {
	font-weight: normal;
    color: #333;
    text-align: left;
}

#contents.thanks p.message.fixyet,
#contents.thanks p.message span.fixyet {
    font-size: 6vw;
    color: #FF0000;
    font-weight: bold;
}

#contents.thanks p.message span.fixyet {
    font-size: 4.5vw;
}

#contents.thanks h2 {
	margin-bottom: 6vw;
	font-size: 10vw;
	text-align: center;
	font-weight: bold;
	color: #F34C1E;
}

#contents #privacypolicy {
	width: 670px;
	padding: 15px;
	height: 150px;
	margin: 0 auto 20px;
	border: 1px solid #CCC;
	overflow-y: scroll;
}
#privacypolicy .ttlMedium {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}
#privacypolicy .ttlSmall {
    font-size: 16px;
    margin: 15px 0 5px;
	color: #023894;
}
#privacypolicy .ttlXsmall {
	font-size: 14px;
} 
#privacypolicy p:not(:last-child),
#privacypolicy ul:not(:last-child),
#privacypolicy ol:not(:last-child) {
    margin-bottom: 20px;
}
#privacypolicy p,
#privacypolicy ul,
#privacypolicy ol {
	font-size: 14px;
}
#privacypolicy ol {
	padding-left: 20px;
}
#privacypolicy ol > li {
    list-style-type: disc;
}
#privacypolicy .btnPdf {
    font-size: 14px;
    color: #d23d2a;
    margin-left: 15px;
    display: inline-block;
}
#privacypolicy .btnPdf::before {
    content: "";
    width: 18px;
    height: 19px;
    background: url(../img/i_pdf.png) no-repeat;
    background-size: contain;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

#contents .registBtn {
	display: flex;
	justify-content: center;
	margin: 6vw auto;
	padding: 0 4vw;
}

#contents .registBtn.confirm input.btn.next:disabled {
    cursor: default;
    color: #666;
    text-shadow: none;
    background: #CCC;
	position: relative;
	top: 2px;
	box-shadow: none;
}

#contents.thanks .presentArea {
	margin: 6vw 4vw;
	padding: 4vw;
	border-radius: 10px;
	border: 5px solid #023894;
}
#contents.thanks .presentArea h3.present {
	margin-bottom: 4.5vw;
	font-size: 5vw;
	text-align: center;
	color: #023894;
}
#contents.thanks .presentArea .image {
	margin-bottom: 4vw;
}
#contents.thanks .presentArea .image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
#contents.thanks .presentArea p.name {
	font-size: 4.5vw;
	text-align: center;
}

#contents p.guard_text,
#contents p.doc_code {
	margin-bottom: 20px;
	font-size: 12px;
	color: #666;
}

#contents p.doc_code {
	text-align: right;
}

#contents .thanksmessage {
	margin-bottom: 6vw;
	padding: 0 4vw;
	text-align: leftr;
	line-height: 1.8;
}

#contents .thanksmessage p {
	margin-bottom: 4vw;
	font-size: 4.5vw;
}

/*footer*/
#footer {
	padding: 6vw 4vw;
	border-top: 1px solid #CCC;
}


#footer .inner ul.ftlink {
	margin-bottom: 3vw;
	text-align: center;
}

#footer .inner ul.ftlink li {
	display: inline;
	font-size: 3.5vw;
	margin-right: 10px;
}

#footer .inner ul.ftlink li a {
	color: #333;
}

#footer .inner p#copyright {
	font-size: 3vw;
	text-align: center;
}

#contents ul.present_list li {
    width: calc(100%);
	margin-bottom: 2vw;
	padding: 0;
}
#contents ul.present_list li label {
	padding: 1vw;
}
#contents ul.present_list li label .pho {
	width: 30vw;
}
#contents ul.present_list li p {
	width: 55vw;
	font-size: 4vw;
	text-align: left;
	height: auto;
}
#contents ul.present_list li p br {
	display: none;
}
.reservation__step {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 7vw;
    padding: 0 8vw;
}
.reservation__step__item {
    position: relative;
    padding-top: 8vw;
    color: #666;
    font-size: 4vw;
    font-weight: bold;
}
.reservation__step__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 5.25vw;
    height: 5.25vw;
    border-radius: 50%;
    background-color: #ccc;
    margin: auto;
}
.reservation__step__item-active {
    color: #202689;
}
.reservation__step__item-active:before {
    background-color: #202689;
}
.reservation__step__item + .reservation__step__item:after {
    content: "";
    position: absolute;
    top: 2.5vw;
    right: 6.5vw;
    width: 35vw;
    height: 0.5vw;
    background-color: #ccc;
    z-index: -100;
}
.reservation__step__item-active + .reservation__step__item-active:after {
    background-color: #202689;
}

.company_link{
	text-align: left;
	margin-bottom: 8px;	
}
.company_link a{
	text-decoration: underline;
}