@use "../_import" as *;

// ----------------------------------------
// form parts
// ----------------------------------------
/*
  <div class="c-form-item">
    <select class="select" name="select">
      <option value="" selected="">すべて</option>
      <option value="">お知らせ</option>
    </select>
    <i class="icon-select__right"></i>
  </div>

  <div class="c-form-item">
    <input type="text" class="-input">
  </div>

  <div class="c-form-item">
    <textarea class="textarea"></textarea>
  </div>

  <div class="c-form-item">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="" value="">
        <span>TEXT</span>
      </label>
      <label>
        <input type="checkbox" name="" value="">
        <span>TEXT</span>
      </label>
    </div>
  </div>

  <div class="c-form-item">
    <div class="checkbox">
      <label>
        <input type="radio" name="name_01" value="">
        <span>TEXT</span>
      </label>
      <label>
        <input type="radio" name="name_01" value="">
        <span>TEXT</span>
      </label>
    </div>
  </div>
*/

.c-form-item {
  margin: 20px 0 0 0;
  font-size: var(--fs-default);
  position: relative;
  .error {
    font-size: var(--fs-small) !important;
    color: #B70000;
    display: block;
    margin: 5px 0 0 0;
    border-radius: 2px;
  }
  select,
  .-textarea,
  .-input {
    transition: all .3s cubic-bezier(0, 1, .64, 1);
    outline: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray);
    border-radius: 3px;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 8px 16px;
    height: 44px;
    -webkit-appearance: none;
    appearance: none;
    color: var(--color-black);
    @include mq(sm) {
      font-size: var(--fs-default);
    }
    &:focus {
      background: rgba(#03a9f4, .05);
      box-shadow: 0 0 0 0.25rem rgba(#86b7fe, .25);
    }
    &::placeholder{
      color: #aaa;
    }
    &.error {
      background-color: rgba(#F50057, .05);
      border: 1px solid rgba(#F50057, .4);
    }
  }
  .checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 24px;
    @include mq(sm) {
      min-width: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    label {
      font-size: var(--fs-default);
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      input[type="checkbox"],
      input[type="radio"] {
        position: relative;
        width: 22px;
        height: 22px;
        margin: 0 8px 0 0;
        padding: 0;
        cursor: pointer;
        &:before {
          content: '';
          outline: none;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background-color: var(--color-light-gray);
        }
        &.error {
          &::before {
            background-color: rgba(#B70000, .1);
          }
        }
      }
      input[type="checkbox"] {
        &::after {
          transition: var(--transition);
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.75502%2012.0149L0.205017%207.46495C-0.0683389%207.19159%20-0.0683389%206.74838%200.205017%206.47499L1.19494%205.48504C1.4683%205.21166%201.91154%205.21166%202.1849%205.48504L5.24999%208.55011L11.8151%201.98505C12.0884%201.71169%2012.5317%201.71169%2012.805%201.98505L13.795%202.975C14.0683%203.24835%2014.0683%203.69157%2013.795%203.96495L5.74497%2012.015C5.47159%2012.2883%205.02837%2012.2883%204.75502%2012.0149V12.0149Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 14px auto;
          transform: scale(0);
        }
        &:checked {
          &::after {
            content: '';
            transform: scale(1);
          }
        }
      }
      input[type="radio"] {
        width: 22px;
        height: 22px;
        &::before {
          content: '';
          background-image: none;
          border-radius: 50rem;
        }
        &::after {
          content: "";
          transform: scale(0);
          transition: var(--transition);
          background-image: none;
          background: #323133;
          width: 12px;
          height: 12px;
          display: block;
          border-radius: 50rem;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
        &:checked {
          &::before {
            background-image: none;
          }
          &::after {
            content: "";
            transform: scale(1);
          }
        }
      }
    }
  }
  select {
    color: var(--color-gray);
  }
  .icon-select__right {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    right: 16px;
    &::before {
      content: '';
      display: block;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%2220%22%20viewBox%3D%220%200%2012%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.53772%2010.8H10.4627C11.2652%2010.8%2011.6665%2011.7712%2011.1002%2012.3375L6.63772%2016.8C6.28522%2017.1525%205.71522%2017.1525%205.36647%2016.8L0.900217%2012.3375C0.333967%2011.7712%200.735217%2010.8%201.53772%2010.8ZM11.1002%206.86249L6.63772%202.4C6.28522%202.0475%205.71522%202.0475%205.36647%202.4L0.900217%206.86249C0.333967%207.42874%200.735217%208.39999%201.53772%208.39999H10.4627C11.2652%208.39999%2011.6665%207.42874%2011.1002%206.86249Z%22%20fill%3D%22%23666666%22%2F%3E%3C%2Fsvg%3E');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
  }
  .-textarea {
    min-height: 130px;
  }
}
