@use "../_import" as *;

// ----------------------------------------
//  wp-pagenavi
// ----------------------------------------
.wp-pagenavi {
  margin: 56px auto 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 6px;
  @include mq(sm) {
    gap: 0 4px;
    margin-top: 32px;
  }
  >.pages {
    display: none;
  }
  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-small);
    letter-spacing: 0;
  }
  .previouspostslink,
  .nextpostslink,
  .first,
  .last,
  span.current,
  a.page {
    font-family: var(--font-family-en);
    transition: all .3s cubic-bezier(0, 1, .64, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    width: 32px;
    height: 32px;
    background-color: var(--color-white);
    font-size: var(--fs-small);
    color: var(--color-gray-light);
    @include mq(sm) {
      width: 30px;
      height: 30px;
    }
    &:hover {
      background-color: var(--color-light-gray);
      color: var(--color-gray-light);
    }
  }
  span.current {
    background-color: var(--color-light-gray);
    color: var(--color-gray-light);
  }
  .extend {
    line-height: 1;
    position: relative;
    bottom: 2px;
  }
  .previouspostslink,
  .nextpostslink,
  .first,
  .last {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  .previouspostslink {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14.7071%206.29289C15.0976%206.68342%2015.0976%207.31658%2014.7071%207.70711L10.4142%2012L14.7071%2016.2929C15.0976%2016.6834%2015.0976%2017.3166%2014.7071%2017.7071C14.3166%2018.0976%2013.6834%2018.0976%2013.2929%2017.7071L8.29289%2012.7071C7.90237%2012.3166%207.90237%2011.6834%208.29289%2011.2929L13.2929%206.29289C13.6834%205.90237%2014.3166%205.90237%2014.7071%206.29289Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
  }
  .nextpostslink {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.29289%2017.7071C8.90237%2017.3166%208.90237%2016.6834%209.29289%2016.2929L13.5858%2012L9.29289%207.70711C8.90237%207.31658%208.90237%206.68342%209.29289%206.29289C9.68342%205.90237%2010.3166%205.90237%2010.7071%206.29289L15.7071%2011.2929C16.0976%2011.6834%2016.0976%2012.3166%2015.7071%2012.7071L10.7071%2017.7071C10.3166%2018.0976%209.68342%2018.0976%209.29289%2017.7071Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
  }
  .first {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.08%2012.38C6.12759%2012.5028%206.19896%2012.6149%206.29%2012.71L11.29%2017.71C11.3832%2017.8032%2011.4939%2017.8772%2011.6158%2017.9277C11.7376%2017.9781%2011.8681%2018.0041%2012%2018.0041C12.2663%2018.0041%2012.5217%2017.8983%2012.71%2017.71C12.8032%2017.6168%2012.8772%2017.5061%2012.9277%2017.3842C12.9781%2017.2624%2013.0041%2017.1319%2013.0041%2017C13.0041%2016.7337%2012.8983%2016.4783%2012.71%2016.29L9.41%2013L17%2013C17.2652%2013%2017.5196%2012.8946%2017.7071%2012.7071C17.8946%2012.5196%2018%2012.2652%2018%2012C18%2011.7348%2017.8946%2011.4804%2017.7071%2011.2929C17.5196%2011.1054%2017.2652%2011%2017%2011L9.41%2011L12.71%207.71C12.8037%207.61703%2012.8781%207.50643%2012.9289%207.38458C12.9797%207.26272%2013.0058%207.13201%2013.0058%207C13.0058%206.86799%2012.9797%206.73728%2012.9289%206.61542C12.8781%206.49356%2012.8037%206.38296%2012.71%206.29C12.617%206.19627%2012.5064%206.12188%2012.3846%206.07111C12.2627%206.02034%2012.132%205.9942%2012%205.9942C11.868%205.9942%2011.7373%206.02034%2011.6154%206.07111C11.4936%206.12188%2011.383%206.19627%2011.29%206.29L6.29%2011.29C6.19896%2011.3851%206.12759%2011.4972%206.08%2011.62C5.97998%2011.8635%205.97998%2012.1365%206.08%2012.38Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
  }
  .last {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.92%2011.62C17.8724%2011.4973%2017.801%2011.3851%2017.71%2011.29L12.71%206.29C12.6168%206.19676%2012.5061%206.1228%2012.3842%206.07234C12.2624%206.02188%2012.1319%205.99591%2012%205.99591C11.7337%205.99591%2011.4783%206.1017%2011.29%206.29C11.1968%206.38324%2011.1228%206.49393%2011.0723%206.61575C11.0219%206.73758%2010.9959%206.86814%2010.9959%207C10.9959%207.2663%2011.1017%207.5217%2011.29%207.71L14.59%2011H7C6.73478%2011%206.48043%2011.1054%206.29289%2011.2929C6.10536%2011.4804%206%2011.7348%206%2012C6%2012.2652%206.10536%2012.5196%206.29289%2012.7071C6.48043%2012.8946%206.73478%2013%207%2013H14.59L11.29%2016.29C11.1963%2016.383%2011.1219%2016.4936%2011.0711%2016.6154C11.0203%2016.7373%2010.9942%2016.868%2010.9942%2017C10.9942%2017.132%2011.0203%2017.2627%2011.0711%2017.3846C11.1219%2017.5064%2011.1963%2017.617%2011.29%2017.71C11.383%2017.8037%2011.4936%2017.8781%2011.6154%2017.9289C11.7373%2017.9797%2011.868%2018.0058%2012%2018.0058C12.132%2018.0058%2012.2627%2017.9797%2012.3846%2017.9289C12.5064%2017.8781%2012.617%2017.8037%2012.71%2017.71L17.71%2012.71C17.801%2012.6149%2017.8724%2012.5028%2017.92%2012.38C18.02%2012.1365%2018.02%2011.8635%2017.92%2011.62Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E');
  }
}


#ez-toc-container {
  background: var(--color-light-gray);
  padding: 24px !important;
  border-radius: var(--border-radius-middle);
  margin: 24px auto 0 auto;
  border: none !important;
  .ez-toc-title-container {
    .ez-toc-title {
      margin: 0;
      font-weight: var(--weight-bold);
      font-size: var(--fs-middle);
    }
  }
  nav {
    margin-top: 4px;
    ul {
      padding-left: 8px !important;
      li {
        a {
          color: var(--color-gray) !important;
        }
      }
    }
  }
}